.seccion {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.contenido-centrado {
    max-width: 80rem;
}
.no-margin-top {
    margin-top: 0;
}
.padding {
    padding: 2rem;
}
.margin-top {
    margin-top: 5rem;
}