
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// MIXIN
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
// END MIXIN

// COLORES
$negro: #181818;
$amarillo: #E08709;
$azul: rgb(20, 106, 177);
$verde: #1a850b;
$rojo: #ad0f0f;
$blanco: #dfdddd;
$grisClaro: #a7a5a5;
$grisOscuro: #383838;
// END COLORES

// FUENTES
$fuente_principal: 'Lato', sans-serif;

$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
//END FUENTES